@use "../styles/theme.scss";

:local(.content-menu) {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 12px;
  pointer-events: auto;
  padding: 4px;

  @media(min-width: theme.$breakpoint-lg) {
    top: 24px;
    right: 24px;
  }
}

:local(.content-menu-button) {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 8px;
  background-color: theme.$transparent;
  font-size: theme.$font-size-xs;
  font-weight: theme.$font-weight-bold;
  align-items: center;
  padding: 8px 10px;

  &>* {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: #1e2429;
  }

  &:active {
    background-color: #1e2429;
  }

  svg {
    *[stroke=\#000] {
      stroke: #000;
    }

    *[fill=\#000] {
      fill: #000;
    }
  }
}

:local(.active) {
  color: theme.$active-text-color;
  background-color: theme.$active-color;

  svg {
    *[stroke=\#000] {
      stroke: #000;
    }

    *[fill=\#000] {
      fill: #000;
    }
  }

  &:hover {
    background-color: theme.$active-color-hover;
  }

  &:active {
    background-color: theme.$active-color-pressed;
  }
}

:local(.separator) {
  width: 1px;
  margin: 0 8px;
  background-color: theme.$border1-color;
}